{% extends "layouts/base.html" %} {% block title %} Attack {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .hidden {
        visibility: hidden;
    }
</style>
{% endblock stylesheets %} {% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">
                <h6 class="card-category text-gray"></h6>
                <h4 class="card-title">
                    <div class="col-md-3 px-md-1">
                        <div>
                            <form class="form-group" action="/attack" method="post">
                                <label>Enter IP:</label>
                                <input class="form-control" name="ipaddr" required="" type="text" value="" id=''>
                                <input class="form-control hidden" name="mode" type="text" value="add" id=''>
                                <label for="">Enter JS:</label>
                                <textarea class="blockquote form-control" name="jsoffsec" id="jsoffsec" cols="30" rows="10" class='form-control'></textarea>
                                <input type="submit" value="submit" class='btn btn-primary btn-round'>
                            </form>
                        </div>
                    </div>

                </h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">
                <h6 class="card-category text-gray"></h6>
                <h4 class="card-title">

                    <div class="col-md-3 px-md-1">
                        <div>
                            <form class="form-group" action="/attack" method="post">
                                <label>Search IP:</label>
                                <input class="form-control" name="ipaddr" required="" type="text" value="">
                                <input class="form-control hidden" name="mode" value="search" id=''>
                                <input type="submit" value="submit" class='btn btn-primary btn-round'>
                                <div>
                                    <table class="table tablesorter " id="">
                                        <thead class=" text-primary">
                                            <tr>

                                                <th>
                                                    IP
                                                </th>
                                                <th>
                                                    jsOfAttack
                                                </th>
                                                <th class="text-center">
                                                    Time stamp
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td>
                                                    {{ipOfAttack}}
                                                </td>
                                                <td>
                                                    {{jsOfAttack}}
                                                </td>
                                                <td class="text-center">
                                                    {{ts}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                    {{search}} = "" {{ipOfAttack}} = "" {{jsOfAttack}} = "" {{ts}} = "" {{alldetails}}, {{allAttacked}},{{allIpsToBeAttacked}}
                </h4>
            </div>
        </div>
    </div>
</div>
{{content}} {% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}