{% extends "layouts/base.html" %} {% block title %} Page Blank {% endblock %}


{% block javascripts %}

<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="static/assets/js/map2.js"></script>
<script>
    var allData = JSON.parse('{{allData | tojson}}');
    console.log(allData);
    document.getElementById("currentIps").innerHTML = allData['uniqueIP'][0]['cnt']
    document.getElementById("currentVpns").innerHTML = allData['vpns'][0]['cnt']
    document.getElementById("currentDomains").innerHTML = allData['uniqueDomains'][0]['cnt']
    var domainsDetected = "";
    for(let i = 0; i < Math.min(10, Object.keys(allData['domainCount']).length); i++) {
        domainsDetected += "<a href='"+ allData['domainCount'][i]['parentDomain'] +"'>" + allData['domainCount'][i]['parentDomain'] + "</a><br>"
    }
    document.getElementById("domainsDetected").innerHTML = domainsDetected
    var ipsDetected = "";
    for(let i = 0; i < Math.min(10, Object.keys(allData['distinctIp']).length); i++) {
        ipsDetected += "<a href='"+ allData['distinctIp'][i]['ip'] +"'>" + allData['distinctIp'][i]['ip'] + "&emsp;&emsp;<b>VPN: " + allData['distinctIp'][i]['isVpnTime'] + "<b></a><br>"
    }
    document.getElementById("ipsDetected").innerHTML = ipsDetected

    setData(allData['countryCount']);

</script>
{% endblock javascripts %}
{% block content %}
<link rel="stylesheet" href="static/assets/css/style.css">
<!-- MAP -->
<div class="row">
<div class="col-md-3">
   
            
    </div>
    <div class="col-md-12">
    <div class="card">
        <div class="card card-profile">
            <div class="card-body">

                <h4 class="card-title">Map</h4>
                
<div id="chartdiv" style = "width: 100%"></div>

</div>
</div>
</div>
</div>
<div class="col-md-3">
    
            
    </div>

</div>
<br>


<!-- LIVE STATISTICS -->
<link rel="stylesheet" href="static/assets/css/circle.css">
<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">

                <h4 class="card-title">Live Statistics</h4>
                <div class="row">

                    <div class="col-md-4 px-md-1">
                        <div class="form-group">

                            <div class="card">
                                
                                <div class="container">
                                  <h4><b>Current IPs Traced</b></h4>
                                  <p id = "currentIps" style = "text-align: center"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 px-md-2">
                        <div class="form-group">

                            <div class="card">
                                
                                <div class="container">
                                  <h4><b>Domains Covered</b></h4>
                                  <p  id = "currentDomains" style = "text-align: center"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 px-md-3">
                        <div class="form-group">

                            <div class="card">
                                
                                <div class="container">
                                  <h4><b>Proxies Detected</b></h4>
                                  <p id = "currentVpns" style = "text-align: center">736758</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- DOMAIN LIST -->

<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">

                <h4 class="card-title">Domains Covered</h4>
                <div class="row">

                    <div class="col-md-9 px-md-1">
                        <div class="form-group">

                            <div class="card">
                                
                                <div class="container">
                                  <div id = "domainsDetected" style = "text-align: center">

                                  </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 px-md-2">
                        <div class="form-group">

                            <div class="card">
                                <a href="fdl" target="_blank">
                                <div class="container" type = "button">
                                    <br>
                                  <h4 ><b>View Full List</b></h4>

                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>
<!--IP LOG -->
<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">

                <h4 class="card-title">IP Log</h4>
                <div class="row">

                    <div class="col-md-9 px-md-1">
                        <div class="form-group">

                            <div class="card">
                                
                                <div class="container">
                                  <h4><b>Last 10 IPs</b></h4>
                                  <div id="ipsDetected" style = "text-align: center;">
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 px-md-3">
                        <div class="form-group">

                            <div class="card">
                                <a href="ipl" target="_blank">
                                <div class="container" type = "button">
                                  <h4><b>View Full Log</b></h4>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}
