{% extends "layouts/base.html" %} {% block title %} Page Blank {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}

{% block javascripts %}

<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="static/assets/js/map.js"></script>
{% endblock javascripts %}
{% block content %}
<link rel="stylesheet" href="static/assets/css/style.css">
<!-- <link rel="stylesheet" href="static/assets/css/style.css"> -->
<!-- MAP -->
<div class="row">
<div class="col-md-3">
   
            
    </div>
    <div class="col-md-12">
    <div class="card">
        <div class="card card-profile">
            <div class="card-body">

                <h4 class="card-title">Map</h4>
                
<div id="chartdiv" style = "width: 100%"></div>

</div>
</div>
</div>
</div>
<div class="col-md-3">
    
            
    </div>

</div>
<br>


<!-- LIVE STATISTICS -->
<link rel="stylesheet" href="static/assets/css/circle.css">
<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">

                <h4 class="card-title">Live Statistics</h4>
                <div class="row">

                    <div class="col-md-4 px-md-1">
                        <div class="form-group">

                            <div class="card">
                                
                                <div class="container">
                                  <h4><b>Current IPs Traced</b></h4>
                                  <p>53675218</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 px-md-2">
                        <div class="form-group">

                            <div class="card">
                                
                                <div class="container">
                                  <h4><b>Domains Covered</b></h4>
                                  <p>5317537</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 px-md-3">
                        <div class="form-group">

                            <div class="card">
                                
                                <div class="container">
                                  <h4><b>Proxies Detected</b></h4>
                                  <p>736758</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- DOMAIN LIST -->

<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">

                <h4 class="card-title">Domains Covered</h4>
                <div class="row">

                    <div class="col-md-9 px-md-1">
                        <div class="form-group">

                            <div class="card">
                                
                                <div class="container">
                                  <a href="gcaisugua.com">gcaisugua.com</a><br>
                                  <a href="sgakjjdsk.com">sgakjjdsk.com</a><br>
                                  <a href="gcaisugua.com">gcaisugua.com</a>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 px-md-2">
                        <div class="form-group">

                            <div class="card">
                                <a href="fdl" target="_blank">
                                <div class="container" type = "button">
                                    <br>
                                  <h4 ><b>View Full List</b></h4>

                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>
<!--IP LOG -->
<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">

                <h4 class="card-title">IP Log</h4>
                <div class="row">

                    <div class="col-md-9 px-md-1">
                        <div class="form-group">

                            <div class="card">
                                
                                <div class="container">
                                  <h4><b>Last 10 IPs</b></h4>
                                  <div id="lastTenIP">
                                    <a href="">1.101.342.321</a>
                                  </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 px-md-3">
                        <div class="form-group">

                            <div class="card">
                                <a href="ipl" target="_blank">
                                <div class="container" type = "button">
                                  <h4><b>View Full Log</b></h4>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}
