{% extends "layouts/base.html" %} {% block title %} Page Blank {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<script src="static/assets/js/fingerprint2.js"></script>
<script>
    var torornot;
    async function detectTor() {
        console.log('detecting tor');
        document.write("<img src='http://xycpusearchon2mc.onion/deeplogo.jpg' onerror='torornot=0' onload='torornot=1'>")
    }

    detectTor();
</script>

<script>
    //cookie
    function setCookie(name, value) {
        var expires = "";

        var date = new Date();
        date.setTime(date.getTime() + 2147483647);
        expires = "; expires=" + date.toUTCString();

        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function eraseCookie(name) {
        document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }

    function getElementByXpath(path) {
        return document.evaluate(path, document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
    }
</script>
<script>
    var additional_ip;

    function findIP(onNewIP) {
        var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
        var pc = new myPeerConnection({
                iceServers: [{
                    urls: "stun:stun.l.google.com:19302"
                }]
            }),
            noop = function() {},
            localIPs = {},
            ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
            key;

        function ipIterate(ip) {
            if (!localIPs[ip]) onNewIP(ip);
            localIPs[ip] = true;
        }

        pc.createDataChannel("");

        pc.createOffer(function(sdp) {
            sdp.sdp.split('\n').forEach(function(line) {
                if (line.indexOf('candidate') < 0) return;
                line.match(ipRegex).forEach(ipIterate);
            });
            pc.setLocalDescription(sdp, noop, noop);
        }, noop);

        pc.onicecandidate = function(ice) {
            if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
            ice.candidate.candidate.match(ipRegex).forEach(ipIterate);
        };
    }



    var ul = document.createElement('ul');
    ul.textContent = 'Your IPs are: '
    document.body.appendChild(ul);

    function addIP(ip) {
        if (ip != "0.0.0.0") {
            additional_ip = ip;
        }
    }

    findIP(addIP);
</script>
<script>
    var d1 = new Date();
    var options = {};
    Fingerprint2.get(options, function(components) {
        var values = components.map(function(component) {
            return component.value
        })
        var murmur = Fingerprint2.x64hash128(values.join(''), 31)
            //var clientfp = "Client browser fingerprint: " + murmur + "\n\n";
        var d2 = new Date();

        var dict = {}; // create an empty array

        var c_ClientID;
        if (getCookie('ClientID')) {
            c_ClientID = getCookie('ClientID');
        } else {
            setCookie('clientID', murmur)
            c_ClientID = murmur
        }


        dict['ip'] = "{{ip}}";
        dict['cookie'] = c_ClientID
        dict['clientID'] = murmur
        dict['parentDomain'] = window.parent.location.hostname
        dict['domain'] = window.location.href
        dict['timestamp'] = new Date().toString()
        dict['bookmarked'] = 0;


        var xyz = "{{ip}}"
        $.post("/api/ip/identity", {
                ip: xyz,
            },
            function(data, status) {
                if (status == 'failed') {
                    dict['city'] = ""
                    dict['country'] = ""
                    dict['countryCode'] = ""
                    dict['isp'] = ""
                    dict['lat'] = 404
                    dict['lon'] = 404
                    dict['region'] = ""
                    dict['regionName'] = ""
                    dict['zip'] = ""
                } else {
                    dict['city'] = data.city
                    dict['country'] = data.country
                    dict['countryCode'] = data.countryCode
                    dict['isp'] = data.isp
                    dict['lat'] = data.lat
                    dict['lon'] = data.lon
                    dict['region'] = data.region
                    dict['regionName'] = data.regionName
                    dict['zip'] = data.zip
                }
            });

        //Method 1 - TIME
        var timezone1 = Intl.DateTimeFormat().resolvedOptions().timeZone;
        $.post("/api/vpnidentification/time", {
                ip: xyz,
                time: timezone1
            },
            function(data, status) {
                dict['isVpnTime'] = data
            });

        //Method 2 - ASN    
        $.post("/api/vpnIsASN", {
                ip: xyz,
            },
            function(data, status) {
                dict['isVpnASN'] = data
            });

        //Method 3 - Something Else    
        $.post("/api/vpnIsASN", {
                ip: xyz,
            },
            function(data, status) {
                dict['isVpnSomething'] = "NA"
            });

        dict['browserLat'] = 404
        dict['browserLong'] = 404;
        navigator.geolocation.getCurrentPosition((position) => {
            //this.getCity(position.coords.latitude, position.coords.longitude);
            var browserLat = position.coords.latitude;
            var browSerlong = position.coords.longitude;
            //console.log(position)
            dict['browserLat'] = browserLat
            dict['browserLong'] = browSerlong
        });

        console.log(dict)
        var timeString = "Time to calculate fingerprint: " + (d2 - d1) + "ms\n\n";
        var details = "Detailed information: \n";
        if (typeof window.console !== "undefined") {
            for (var index in components) {
                var obj = components[index];
                var value = obj.value;

                if (value !== null) {
                    dict[obj.key] = value;
                }
            }
        }


        //console.log(timeString + details);

        function waitForElement() {
            //console.log(getElementByXpath("/html/body/div[1]/div[2]/div[2]/div/div/div/div/div").innerHTML);
            if (getElementByXpath('/html/body/div[1]/div[2]/div/div/div/div/div/div').innerHTML == 'Finished') {
                //variable exists, do what you want
                var ports = "";
                for (let i = 1; i < 100; i++) {
                    try {
                        //console.log(getElementByXpath("/html/body/li[1]/text()").data);
                        //console.log(getElementByXpath("/html/body/li[" + i.toString() + "]/text()").data);
                        if (getElementByXpath("/html/body/li[" + i.toString() + "]/text()").data == null) {
                            break;
                        }
                        ports += getElementByXpath("/html/body/li[" + i.toString() + "]/text()").data + ', ';

                    } catch (err) {
                        break;
                    }
                }
                if (ports.length !== 0) {
                    ports = ports.substring(0, ports.length - 1);
                }
                dict['openPorts'] = ports;
                dict['isTOR'] = torornot;
                console.log(JSON.stringify(dict))
                    // for (var key in dict) {
                    //     console.log(key + " : " + dict[key]);
                    // }

                var xmlhttp = new XMLHttpRequest();

                xmlhttp.open("POST", "/injection/post");
                xmlhttp.setRequestHeader("Content-Type", "application/json");
                xmlhttp.send(JSON.stringify(dict));

                let data = JSON.stringify(dict);
                window.parent.postMessage(data, "*");
                //console.log(additional_ip)
                if (additional_ip.length > 3) {
                    dict['ip'] = additional_ip;
                    $.post("/api/ip/identity", {
                            ip: additional_ip,
                        },
                        function(data, status) {
                            //console.log("Here", data);
                            if (status == 'failed') {
                                dict['city'] = ""
                                dict['country'] = ""
                                dict['countryCode'] = ""
                                dict['isp'] = ""
                                dict['lat'] = 404
                                dict['lon'] = 404
                                dict['region'] = ""
                                dict['regionName'] = ""
                                dict['zip'] = ""
                            } else {
                                dict['city'] = data.city
                                dict['country'] = data.country
                                dict['countryCode'] = data.countryCode
                                dict['isp'] = data.isp
                                dict['lat'] = data.lat
                                dict['lon'] = data.lon
                                dict['region'] = data.region
                                dict['regionName'] = data.regionName
                                dict['zip'] = data.zip
                            }
                            var xmlhttp = new XMLHttpRequest();
                            xmlhttp.open("POST", "/injection/post");
                            xmlhttp.setRequestHeader("Content-Type", "application/json");
                            xmlhttp.send(JSON.stringify(dict));

                        });
                    var xmlhttp = new XMLHttpRequest();

                    xmlhttp.open("POST", "/injection/post");
                    xmlhttp.setRequestHeader("Content-Type", "application/json");
                    xmlhttp.send(JSON.stringify(dict));

                    let data = JSON.stringify(dict);
                    window.parent.postMessage(data, "*");
                }

            } else {
                setTimeout(waitForElement, 1000);
            }
        }
        waitForElement();

    });
</script>


<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">
                <h6 class="card-category text-gray">Injection</h6>
                <h4 class="card-title">
                    This is injection page
                </h4>
                <html>

                <head>
                    <meta charset="utf-8" />
                    <script src="static/assets/js/wasm_exec.js"></script>
                    <script>
                        const go = new Go();
                        WebAssembly.instantiateStreaming(fetch("static/assets/main.wasm"), go.importObject)
                            .then((result) => {
                                go.run(result.instance);
                            });
                    </script>
                </head>

                <body>
                    <div id='portscan'>Not finished</div>
                </body>

                </html>
                <a href="/" class="btn btn-primary btn-round">Home</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock javascripts %}