{% extends "layouts/base.html" %} {% block title %} Search {% endblock %}

<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<link rel="stylesheet" href="static/assets/css/circle.css">
<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">

                <h4 class="card-title">Target specific IP</h4>
                <div class="row">

                    <div class="col-md-3 px-md-1">
                        <div class="form-group">

                            <form class="form-group" action="/search" method="post">
                                <div>
                                    <table class="table" id="">
                                        <thead class=" text-primary">
                                            <tr>
                                                <td>
                                                    <input class="form-control" type="text" name="search" value="127.0.0.1" />
                                                </td>
                                                <td>
                                                    <input class="btn btn-primary btn-round" type="submit" value="submit" />
                                                </td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card card-profile">
                <div class="card-body">
                    <table>
                        <tr>
                            <td>
                                <h2 class="card-title"><strong> {{ip}}</strong></h2>
                            </td>
                            <td>
                                <!--to add -->
                                <img src="https://flagicons.lipis.dev/flags/1x1/in.svg" class="avatar" />
                            </td>
                            <td>
                                <div class="card-body" id="vpnalert">
                                </div>
                            </td>
                        </tr>
                    </table>

                    <script>
                        // not working, found another way to get work done - karan
                        var myvar = "{{ Alldata_for_searched_ip | tojson}}";

                        var parsed = JSON.parse(myvar);
                        console.log(parsed);
                        console.log(parsed.data['0']);
                        console.log(parsed.data['0']['ip']);

                        console.log("AllData")
                    </script>
                    {% for x in Alldata_for_searched_ip["data"]%}
                    {% for y in x.keys()%} {{y}} 
                    {{x[y]}} <br> 
                    {% endfor %} 
                    {% endfor %}
                    <table class="table " id="">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Parameter
                                </th>
                                <th>
                                    Value
                                </th>
                                <th>
                                    Additional Info
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    ASN
                                </td>
                                <td>
                                    {{asn}}
                                </td>
                                <td>
                                    {{ASN_name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Blacklisted
                                </td>
                                <td>
                                    {{blacklisted}}
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    DataCentre
                                </td>
                                <td>
                                    {{datacentre}}
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Bad asn
                                </td>
                                <td>
                                    {{badASN}}
                                </td>
                                <td>
                                    Current ASN: {{ASN_name}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <div>
                            <h4>IP Details:</h4><b></b>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>ISP</label>
                                        <input type="text" class="form-control" placeholder="Home Address" style="background-color:skyblue;"  readonly>{ISP}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pr-md-1">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control" style="background-color:skyblue;" placeholder="City" value="Mike" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4 px-md-1">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" class="form-control" style="background-color:skyblue;" placeholder="Country" value="Andrew" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-md-1">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="number" class="form-control" style="background-color:skyblue;" placeholder="ZIP Code" readonly>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card card-profile">
                <div class="card-body">

                    <h4 class="card-title">Map</h4>
                    <div id="chartdiv"></div>


                    <!-- sample -->
                    <style>
                        #chartdiv {
                            width: 100%;
                            height: 490px;
                        }
                    </style>
                    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
                    <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
                    <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
                    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
                    <script>
                        am5.ready(function() {

                            var root = am5.Root.new("chartdiv");


                            root.setThemes([
                                am5themes_Animated.new(root)
                            ]);


                            var chart = root.container.children.push(am5map.MapChart.new(root, {
                                panX: "translateX",
                                panY: "translateY",
                                projection: am5map.geoMercator()
                            }));

                            var cont = chart.children.push(am5.Container.new(root, {
                                layout: root.horizontalLayout,
                                x: 20,
                                y: 40
                            }));



                            cont.children.push(am5.Label.new(root, {
                                centerY: am5.p50,
                                text: "Map"
                            }));

                            var switchButton = cont.children.push(am5.Button.new(root, {
                                themeTags: ["switch"],
                                centerY: am5.p50,
                                icon: am5.Circle.new(root, {
                                    themeTags: ["icon"]
                                })
                            }));

                            switchButton.on("active", function() {
                                if (!switchButton.get("active")) {
                                    chart.set("projection", am5map.geoMercator());
                                    chart.set("panX", "translateX");
                                    chart.set("panY", "translateY");
                                } else {
                                    chart.set("projection", am5map.geoOrthographic());
                                    chart.set("panX", "rotateX");
                                    chart.set("panY", "rotateY");
                                }
                            });

                            cont.children.push(am5.Label.new(root, {
                                centerY: am5.p50,
                                text: "Globe"
                            }));

                            var polygonSeries = chart.series.push(am5map.MapPolygonSeries.new(root, {
                                geoJSON: am5geodata_worldLow
                            }));

                            var graticuleSeries = chart.series.push(am5map.GraticuleSeries.new(root, {}));
                            graticuleSeries.mapLines.template.setAll({
                                stroke: root.interfaceColors.get("alternativeBackground"),
                                strokeOpacity: 0.08
                            });


                            var lineSeries = chart.series.push(am5map.MapLineSeries.new(root, {}));
                            lineSeries.mapLines.template.setAll({
                                stroke: root.interfaceColors.get("alternativeBackground"),
                                strokeOpacity: 0.6
                            });


                            var citySeries = chart.series.push(
                                am5map.MapPointSeries.new(root, {})
                            );

                            citySeries.bullets.push(function() {
                                var circle = am5.Circle.new(root, {
                                    radius: 5,
                                    tooltipText: "{title}",
                                    tooltipY: 0,
                                    fill: am5.color(0xffba00),
                                    stroke: root.interfaceColors.get("background"),
                                    strokeWidth: 2
                                });

                                return am5.Bullet.new(root, {
                                    sprite: circle
                                });
                            });


                            var arrowSeries = chart.series.push(
                                am5map.MapPointSeries.new(root, {})
                            );

                            arrowSeries.bullets.push(function() {
                                var arrow = am5.Graphics.new(root, {
                                    fill: am5.color(0x000000),
                                    stroke: am5.color(0x000000),
                                    draw: function(display) {
                                        display.moveTo(0, -3);
                                        display.lineTo(8, 0);
                                        display.lineTo(0, 3);
                                        display.lineTo(0, -3);
                                    }
                                });

                                return am5.Bullet.new(root, {
                                    sprite: arrow
                                });
                            });


                            // let myDictionary = {
                            //             id: "",
                            //             title: "",
                            //             geometry: {
                            //                 type: "",
                            //                 coordinates: []
                            //             },
                            //             isVPN: ""
                            //         };
                            var cities = [];

                            function addvalues(dump, cities) {

                                for (let i = 0; i < dump.length; i++) {
                                    let myDictionary = {
                                        id: "",
                                        title: "",
                                        geometry: {
                                            type: "",
                                            coordinates: []
                                        },
                                        isVPN: ""
                                    };

                                    myDictionary.id = dump[i][1];
                                    myDictionary.title = dump[i][2];
                                    myDictionary.geometry["type"] = "Point";
                                    myDictionary.geometry["coordinates"] = dump[i][4];
                                    if (dump[i][0] == true) {
                                        myDictionary.isVPN = true;
                                    } else {
                                        myDictionary.isVPN = false;
                                    }
                                    cities.push(myDictionary);

                                }
                                return cities;
                            }

                            dump1 = [
                                [true, "india", "india", "point", [80, 40]], //VPN, ID, TITLE, Point, Coordinates{Lat, Long}
                                [false, "indo", "indo", "point", [40, 80]]
                            ];
                            addvalues(dump1, cities);
                            console.log(cities);

                            //call function;
                            // var cities1 = [{
                            //     id: "london",
                            //     title: "London",
                            //     geometry: {
                            //         type: "Point",
                            //         coordinates: [-0.1262, 51.5002]
                            //     },
                            //     isVPN: true
                            // }, {
                            //     id: "india",
                            //     title: "india",
                            //     geometry: {
                            //         type: "Point",
                            //         coordinates: [32, 51]
                            //     },
                            //     isVPN: false
                            // }, {
                            //     id: "chine",
                            //     title: "chine",
                            //     geometry: {
                            //         type: "Point",
                            //         coordinates: [52, 61]
                            //     },
                            //     isVPN: false
                            // }, {
                            //     id: "chinasde",
                            //     title: "chinasde",
                            //     geometry: {
                            //         type: "Point",
                            //         coordinates: [62, 81]
                            //     },
                            //     isVPN: false
                            // }, {
                            //     id: "us",
                            //     title: "us",
                            //     geometry: {
                            //         type: "Point",
                            //         coordinates: [80, 40]
                            //     },
                            //     isVPN: true
                            // }]
                            // console.log(cities1);
                            citySeries.data.setAll(cities);
                            console.log(citySeries);


                            try {
                                var allData = JSON.parse('{{Alldata_for_searched_ip | tojson}}');
                                console.log(allData);
                                var tobeadded = [];
                                for (let i = 0; i < Object.keys(allData.data).length; i++) {
                                    tobeadded.push([allData.data[i].isVpnASN || allData.data[i].isVPNTime, allData.data[i].countryCode, allData.data[i].country, "Point", [allData.data[i].lat, allData.data[i].lon]])
                                }
                                console.log(tobeadded);
                                addvalues(tobeadded, cities);
                            } catch (e) {
                                console.log(e);
                            }

                            //console.log(cities);
                            var destinations = [];

                            for (const x in cities) {
                                var myObj = cities[x];
                                if (myObj.isVPN == true) {
                                    destinations.push(myObj.id);
                                };
                            }
                            console.log(destinations);

                            var originLongitude = -0.1262;
                            var originLatitude = 51.5002;

                            var destinationDataItem;
                            var lineDataItem;

                            for (const x in cities) {
                                var myObj = cities[x];
                                if (myObj.isVPN == false) {
                                    originLongitude = myObj.geometry.coordinates[0];
                                    originLatitude = myObj.geometry.coordinates[1];


                                    am5.array.each(destinations, function(did) {
                                        destinationDataItem = citySeries.getDataItemById(did);
                                        console.log(destinationDataItem);
                                        lineDataItem = lineSeries.pushDataItem({
                                            geometry: {
                                                type: "LineString",
                                                coordinates: [
                                                    [originLongitude, originLatitude],
                                                    [destinationDataItem.get("longitude"), destinationDataItem.get("latitude")]
                                                ]
                                            }
                                        });

                                        arrowSeries.pushDataItem({
                                            lineDataItem: lineDataItem,
                                            positionOnLine: 0.5,
                                            autoRotate: true
                                        });
                                    })
                                };
                            }





                            polygonSeries.events.on("datavalidated", function() {
                                chart.zoomToGeoPoint({
                                    longitude: -0.1262,
                                    latitude: 51.5002
                                }, 3);
                            })



                            chart.appear(1000, 1000);
                        });
                    </script>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Edit Profile</h5>
            </div>
            <div class="card-body">

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary">Save</button>
            </div>
        </div>
    </div>
    <!-- <script>
        var riskp, colour;
        var country;
        function calcrisk(){
            for(let i = 0; i < length; i++){
                if(country) //black country list
                {    riskp = '100%'
                    document.getElementsById('riskbar').className = "c100 p100 red";
                }
            }
            for(let i = 0; i < length; i++){
                if(country) // grey country
                {
                    riskp = '50%'
                    document.getElementsById('riskbar').className = "c100 p50 green dark";
                }
            }
            for(let i = 0; i < length; i++){
                if(country) //bad ASN
                {    riskp = '80%'
                     document.getElementsById('riskbar').className = "c100 p80 orange dark";
                }
            }
            for(let i = 0; i < length; i++){
                if(country) // black listed
                {
                    riskp = '100%'
                    document.getElementsById('riskbar').className = "c100 p100 red";
                }
            }


        }
    </script> -->

    <div class="col-md-4">
        <div class="card card-user">
            <div class="card-body">
                <table class="table " id="">
                    <h2 class="title center">
                        Risk rating
                    </h2>
                    <a href=" javascript:void(0) ">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>


                    </a>
                    <thead class="text-primary">
                        <tr>
                            <th>
                                Rating
                            </th>
                            <th>
                                Parameter
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="center " style="justify-content: center;  ">
                                    <!-- available colors green, orange, red-->
                                    <div id='riskbar' class="c100 p50 orange dark">

                                        <div id='riskbar' class="c100 p50 orange dark">
                                            {% if allData %}
                                            <span><b>{{allData["per"]}}%</b></span>
                                            <div class="slice ">
                                                <div class="bar "></div>
                                                <div class="fill "></div>
                                            </div>
                                            {% else %}
                                            <span><b>25%</b></span>
                                            <div class="slice ">
                                                <div class="bar "></div>
                                                <div class="fill "></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                            </td>
                            <td>
                                Is VPN<br><br> Blacklisted Country<br><br>Grey Country<br><br>From Data Center<br><br>Bad ASN <br><br> Blacklisted ASN
                            </td>
                            <td>{{allData["Timezone"]}}
                                <br><br>{{allData["black"]}}<br><br>{{allData["grey"]}}<br><br>{{allData["data center"]}}<br><br>{{allData["Bad ASN"]}} <br><br>{{allData["blacklisted"]}}

                            </td>
                           
                        </tr>

                    </tbody>
                </table>
                <div>
                    <p class="card-text">
                        <div class="author">
                            <div class="block block-one"></div>
                            <div class="block block-two"></div>
                            <div class="block block-three"></div>
                            <div class="block block-four"></div>
                        </div>
                    </p>
                    <div class="card-description ">
                    </div>
                </div>
                <div class="card-footer ">
                    hello
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">

                    <h4 class="card-title">result</h4>
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
    {%if result | length >1%} {% for key, value in result.items() %} {{key}} {{value}} <br> {% endfor %} {% endif %}
    <script>
        document.write(`
        {{result}}
        `)
    </script>
    {% endblock content %} {% block javascripts %}
    <script type="text/javascript ">
        function notif() {
            var text = 'True';
            if (text == 'False') {
                var notVpn = "This is not a VPN ip ";
                document.getElementById("vpnalert").innerHTML = `<div class="alert alert-success ">
                            <span><b> ` + notVpn + ` - </b> The ip is not masking itself.</span>
                        </div>`;
            } else if (text == 'True') {
                var isVPN = "This is a VPN ip ";
                document.getElementById("vpnalert").innerHTML = `<div class="alert alert-danger ">
                            <span><b> ` + isVPN + ` </b> The ip seems to be masking itself.</span>
                        </div>`;
            }
        }

        notif();
    </script>

    {% endblock javascripts %}