{% extends "layouts/base.html" %} {% block title %} Tracking {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .hidden {
        visibility: hidden;
    }
</style>
{% endblock stylesheets %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">
                <h6 class="card-category text-gray">Tracking pixel</h6>
                <h4 class="card-title">
                    <form action="/tracking" method="POST" enctype="multipart/form-data">
                        Select image to upload:
                        <br>
                        <input id='inputfile' type='file' name='inputfile' class='form-control'>
                        <input class="hidden" name="mode" value="upload" id=''>
                        <input class="form-control" type="text" name="comment" value="add comment here" id=''>

                        <input type="submit" value="submit" class='btn btn-primary btn-round'>
                    </form>
                    <br> Your unique hyperlink to share with the target: <br> http://{{ip}}/display/{{name}} <br>Your unique ID is {{name}}
                </h4>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">
                <h6 class="card-category text-gray">search</h6>
                <h4 class="card-title">
                    <form action="/tracking" method='POST' class='form-group'>
                        Search ID:
                        <input class="hidden" name="mode" value="search" id=''>
                        <input type="text" name='idsearch' value='' class='form-control'>

                        <input type="submit" value="submit" class='btn btn-primary btn-round'> {{allData}}
                    </form>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">
                <h6 class="card-category text-gray">All IP logs</h6>
                <h4 class="card-title">
                    <div id='logsip'>
                        {% for key, values in searchData.items() %}<br> {% if key == 'keyList' or key == 'comments' %} {% else %}
                        <strong>Unique id: {{key}}</strong><br>
                        <i>Records: 
                            {% for value in values %}
                            <br> {{value}} <br>

                            {% endfor %}
                            {% endif %}

                            </i> <br>{% endfor %}
                    </div>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}