

    
    
    <div class="sidebar" style="padding-top: 20px;">
      <div class="sidebar-wrapper">
        <div class="logo">
          
            
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="/dash" class="simple-text logo-normal" style="font-size: large;">
            &emsp; Vajra Lookups
          </a>
        </div>

        <ul class="nav">
        {% if current_user.is_authenticated %}

          <li class="{% if 'dash' in segment %} active {% endif %}">
            <a href="/dash">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          
          <li class="{% if 'search' in segment %} active {% endif %}">
            <a href="/search">
              <i class="tim-icons icon-zoom-split"></i>
              <p>Search</p>
            </a>
          </li>
          <li class="{% if 'attack' in segment %} active {% endif %}">
            <a href="/attack">
              <i class="tim-icons icon-sound-wave"></i>
              <p>Attack</p>
            </a>
          </li>

          <li class="{% if 'tracking' in segment %} active {% endif %}">
            <a href="/tracking">
              <i class="tim-icons icon-image-02"></i>
              <p>Upload Image</p>
            </a>
          </li>

          <li class="{% if 'bookmarks' in segment %} active {% endif %}">
            <a href="/bookmarks">
              <i class="tim-icons icon-tag"></i>
              <p>Bookmarks</p>
            </a>
          </li>

          <li class="{% if 'nmaps' in segment %} active {% endif %}">
            <a href="/nmap">
              <i class="tim-icons icon-alert-circle-exc"></i>
              <p>Nmaps</p>
            </a>
          </li>
          
          {% else %}
          <li class="active">
            
          </li>   
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
